<div *ngIf="kweeks && kweeks.length">
  <!-- check if kweeks exists -->
  <div *ngFor="let kweek of kweeks" class="kweeks">
    <!-- loop the kweeks as every kweek has the name kweek -->
    <!-- should retrieve not muted users' kweeks but this ngif to make sure -->
    <div class="container p-0 kweek-style pointer" *ngIf="!kweek.user.muted">
      <div class="media border p-3">
        <img
          [src]="kweek.user.profile_image_url"
          src-fallback="../../assets/kweeks/default.png"
          class="mr-3 rounded-circle kweek-img"
        />
        <!-- alt could be a pic in our files -->
        <div class="media-body">
          <div>
            <div>
              <a href="/profile/{{ kweek.user.username }}" class="kweek-user"
                ><span class="screen_name">{{ kweek.user.screen_name }}</span>
                .
                <span class="username">@{{ kweek.user.username }} </span>
              </a>
              <span class="username">
                . {{ kweek.created_at | date: "h:mm a - d MMM y" }}</span
              >
            </div>
          </div>
          <div (click)="openDialog(kweek)">
            <div>
              <p [innerHTML]="kweek.text"></p>
            </div>
            <div *ngIf="kweek.media_url">
              <img
                id="media"
                [src]="kweek.media_url"
                src-fallback="../../assets/kweeks/loading.png"
              />
            </div>
          </div>
          <div class="container-fluid" style="margin-top:12px;">
            <div class="row">
              <div class="col-2">
                <span class="reply">
                  <span  
                  matTooltip="Reply"
                  matTooltipClass="tooltip-style"
                  [matTooltipPosition]="position.value"
                  [matTooltipShowDelay]="showDelay.value"
                  [matTooltipHideDelay]="hideDelay.value"
                    ><i class="far fa-comment"></i
                  ></span>
                  <span class="p-2"></span>
                  <span style="font-weight:bold">{{
                    kweek.number_of_replies === 0
                      ? " "
                      : kweek.number_of_replies
                  }}</span>
                </span>
              </div>
              <!-- Rest lines to know if the user liked or rekweeked this kweek -->
              <div class="col-2" *ngIf="kweek.rekweeked_by_user">
                <span class="rekweeked">
                  <span
                    matTooltip="Undo Rekweek"
                    matTooltipClass="tooltip-style"
                    [matTooltipPosition]="position.value"
                    [matTooltipShowDelay]="showDelay.value"
                    [matTooltipHideDelay]="hideDelay.value"
                    ><i class="fas fa-retweet"></i
                  ></span>
                  <span class="p-2"></span>
                  <span style="font-weight:bold">{{
                    kweek.number_of_rekweeks === 0
                      ? " "
                      : kweek.number_of_rekweeks
                  }}</span>
                </span>
              </div>
              <div class="col-2" *ngIf="!kweek.rekweeked_by_user">
                <span class="rekweek">
                  <span
                    matTooltip="Rekweek"
                    matTooltipClass="tooltip-style"
                    [matTooltipPosition]="position.value"
                    [matTooltipShowDelay]="showDelay.value"
                    [matTooltipHideDelay]="hideDelay.value"
                    ><i class="fas fa-retweet"></i
                  ></span>
                  <span class="p-2"></span>
                  <span style="font-weight:bold">{{
                    kweek.number_of_rekweeks === 0
                      ? " "
                      : kweek.number_of_rekweeks
                  }}</span>
                </span>
              </div>
              <div class="col-2" *ngIf="kweek.liked_by_user">
                <span class="liked">
                  <span
                  matTooltip="Undo Like"
                  matTooltipClass="tooltip-style"
                  [matTooltipPosition]="position.value"
                  [matTooltipShowDelay]="showDelay.value"
                  [matTooltipHideDelay]="hideDelay.value"
                    ><i class="fas fa-heart"></i
                  ></span>
                  <span class="p-2"></span>
                  <span class="icon" style="font-weight:bold">{{
                    kweek.number_of_likes === 0 ? " " : kweek.number_of_likes
                  }}</span>
                </span>
              </div>
              <div class="col-2" *ngIf="!kweek.liked_by_user">
                <span class="like">
                  <span
                    matTooltip="Like"
                    matTooltipClass="tooltip-style"
                    [matTooltipPosition]="position.value"
                    [matTooltipShowDelay]="showDelay.value"
                    [matTooltipHideDelay]="hideDelay.value"
                    ><i class="far fa-heart"></i
                  ></span>
                  <span class="p-2"></span>
                  <span style="font-weight:bold">{{
                    kweek.number_of_likes === 0 ? " " : kweek.number_of_likes
                  }}</span>
                </span>
              </div>
              <div class="col-8"></div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
