<form id="msform" #submitForm ="ngForm" name="submit-form" ngmodel>

<fieldset class="fs1">
        <!-- Icon -->
         <div>
           <img src="../../assets/main/twitter.png" id="icon" alt="User Icon" />
         </div>
         
         <h2 class="fs-title">Reset Your Password</h2>
         <input type="password" name="pass" placeholder="Password" #password="ngModel" [(ngModel)]="pass" pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{8,}" required/>
          <div  *ngIf="password.invalid && password.touched" class="msg alert alert-danger " role="alert">
            <p class="alertMsg">Password must be at least 8 characters and contains capital letters, small letters and numbers.</p>
          </div>    
        <input type="password" name="cpass" placeholder="Confirm Password" #confirm_password="ngModel" [(ngModel)]="confirm_pass" required />
          <div  *ngIf="(password.value != confirm_password.value) && confirm_password.touched" class="msg alert alert-danger " role="alert">
            <p class="alertMsg">Not identical passwords!</p>
          </div>   
          <button type="submit" name="next1" class="btn btn-primary action-button" #Next1 (click)="sendPassword(submitForm)"  [disabled]="password.invalid || (confirm_password.value != password.value)">Reset</button>
</fieldset>



</form> 