body {
	font-family: montserrat, arial, verdana;
}
/*form styles*/
#msform {
	width: 500px;
	margin: 50px auto;
	text-align: center;
	position: relative;
}
#msform fieldset {
	background: white;
    border: 0 none;
    -webkit-border-radius: 10px 10px 10px 10px;
    border-radius: 10px 10px 10px 10px;
	box-shadow: 0 30px 60px 0 rgba(0,0,0,0.3);
	padding: 20px 30px;
	box-sizing: border-box;
	width: 90%;
	margin: 0 10%;
	
	/*stacking fieldsets above each other*/
	position: relative;
}
/* Hide all except first fieldset*/
#msform fieldset:not(:first-of-type) {
	display: none;
}
/*inputs*/
#msform input, #msform textarea {
    background-color: #f6f6f6;
    color: #0d0d0d;
    padding: 15px 32px;
    text-align: left;
	margin-bottom: 10px;
	width: 100%;
	box-sizing: border-box;
	font-family: montserrat;
	color: #2C3E50;
    font-size: 16px;
    border: 2px solid #f6f6f6;
    border-radius: 50px;
}
#msform input:hover, #msform input:focus{
	border: 2px solid #14a2c5;
	border-radius: 25px 25px 25px 25px;
	
}
/*buttons*/
#msform .action-button {
	width: 100px;
    background-color: #56baed;
    border: none;
    color: white;
    padding: 10px 5px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 15px;
    -webkit-box-shadow: 0 10px 30px 0 rgba(95,186,233,0.4);
    box-shadow: 0 10px 30px 0 rgba(95,186,233,0.4);
    -webkit-border-radius: 5px 5px 5px 5px;
    border-radius: 5px 5px 5px 5px;
    margin: 10px 5px;
}
#msform .action-button:hover, #msform .action-button:focus {
	box-shadow: 0 0 0 2px white, 0 0 0 3px #39ace7;
}
/*headings*/
.fs-title {
	font-size: 18px;
	color: #2C3E50;
	margin-bottom: 10px;
}
.fs-subtitle {
	font-weight: normal;
	font-size: 15px;
	color: #666;
	margin-bottom: 20px;
}
/*progressbar*/
#progressbar {
	margin-bottom: 30px;
	overflow: hidden;
	/*CSS counters to number the steps*/
	counter-reset: step;
}
#progressbar li {
	list-style-type: none;
	color: #397ea0;
	text-transform: uppercase;
	font-size: 12px;
	width: 33.33%;
	float: left;
	position: relative;
}
#progressbar li:before {
	content: counter(step);
	counter-increment: step;
	width: 20px;
	line-height: 20px;
	display: block;
	font-size: 13px;
	color: #333;
	background: white;
	border-radius: 30px;
	margin: 0 auto 5px auto;
}
/*progressbar connectors*/
#progressbar li:after {
	content: '';
	width: 100%;
	height: 2px;
	background: white;
	position: absolute;
	left: -50%;
	top: 9px;
	z-index: -1; /*put it behind the numbers*/
}
#progressbar li:first-child:after {
	/*connector not needed before the first step*/
	content: none; 
}
/*marking active/completed steps green*/
/*The number of the step and the connector before it = green*/
#progressbar li.active:before,  #progressbar li.active:after{
	background: #39ace7;
	color: white;
}
/* for the icon style */
#icon {
    margin: 10px;
    width:10%;
  }
.msg{
	padding: 15px 32px;
	margin-left: 5px;
	margin-right: 5px;
	margin-top: 2px;
	margin-bottom: 10px;
	width: 70%;
	border:none;
	text-decoration: none;
	display: inline-block;
	-webkit-border-radius: 5px 5px 5px 5px;
	border-radius: 5px 5px 5px 5px;
}
/* The alert message itself */
.alertMsg{
	text-align: left;
	font-size: 12px;
}
.datepicker{
	width : 90%;
	
}
.labelForBD{
	font-weight: normal;
	font-size: 14px;
	color: #666;
	margin-bottom: 20px;
}