.Kweeks
{
    height:auto;
    background-color: white;
    padding: 0 0;
    margin: 0 0;

}

.right-part
{
    margin-left: 0.01%;
}

.square {
    position: absolute;
    top: -6px;
    left: 10px;
    width: 12px;
    height: 12px;
    border-top: 1px solid rgba(0,0,0,.15);
    border-left: 1px solid rgba(0,0,0,.15);
    background-color: #fff;
    transform: rotate(45deg);
}

@media (max-width: 1200px) { 

    .right-part
    {
        min-width: 1200px;
        margin-left:20px;
    } 

    #Right-Profile-Trends 
    {
        display: none !important;
    }
 }


