

<div class="modal-header">
    
    <div class="col-md-11" style="padding:0">
    <h2 md-dialog-title class="modal-title" *ngIf="!reply" 
    style="padding-left: 28%">Compose new Kweek</h2>
    <h2 md-dialog-title class="modal-title" *ngIf="reply && !kweekTO" 
    style="padding-left: 28%">Reply to {{screenname}}</h2>
    <h2 md-dialog-title class="modal-title" *ngIf="reply && kweekTO" 
    style="padding-left: 28%">Kweek to {{screenname}}</h2>
  </div>
    <div class="col-md-1" style="padding:0">
    <div class="clearfix"   >
        <button type="button" class="close" (click)="onClose()">&times;</button>
      </div></div>
      
  </div>
  <div class="modal-body">
    <div class="row" style="padding:0; margin: 0">
      <div class="col-md-1" style="padding:0">
          <!-- add profile pic line here -->
      </div>
      <div class="col-md-11"style="padding:0">
          <div class="tweet-box-content">
              <div class="tweet-content">
                  <a [routerLink] = "['/profile',username]" *ngIf="reply">@{{username}}</a>
                  <div class="form-group">
                      <textarea class="form-control" rows="5"cols="90" 
                      id="kweek" name="kweekData" [(ngModel)]="kweekData"></textarea>
                    </div>
              </div>
            </div>
      </div>

    </div>
    <div class="row" style="padding:0; margin: 0; margin-bottom: 10px; margin-left:25%; " 
    *ngIf="selectedImage">
        <div class="container" style="text-align:centre">
            <img [src]="imageUrl" 
            style=" border-radius: 8px; border: 1px solid  #1da1f2;
            border-radius: 8px; max-height: 170px; max-width:410px ;" 
            alt="imageUrl">
            <button type="button" class="close" (click)="removeImage()">&times;</button>
        </div>
      </div>
    <div class="row" style="padding:0; margin: 0">
        <div class="col-md-1" style="padding:0">
          </div>
          <div class="col-md-11" style="padding:0">
      <span>
          <form action="/action_page.php">
            <input style="display:none" #imageInput type="file" name="pic" accept="image/*" 
            (change)="onFileSelected($event)">
          </form>
          <span style="margin-left:1.5%">
              <button class="btn kweek-image" >
                <i class="fas fa-image"  (click)="imageInput.click()"></i></button>
          </span>
      </span>
      <span style=" float: right; margin-right:2.5%">
        <button class="btn btn-primary kweek-btn" [disabled]="!kweekData || kweekData.length>260 || disableButton" 
          (click)="addKweek()">{{kweekButtonText}}</button>
          <span style="padding-left:4px">{{260-kweekData.length}}</span>
      </span>
      
    </div>
    </div>
  </div>
  
