<!--inbox head-->
<div class="head row align-items-center">
  <div class="col-7 ">
    <h2 id="title">
      Direct Messages
    </h2>
  </div>
  <div class="activity col-5">
    <button id="mark" >
      <i class="fas fa-envelope-open-text">
      </i>
    </button>
    <button id="new" [routerLink]="['/chat/', {outlets : {body:['new']} }]">
      New Message
    </button>
    <button id="esc">
      <i class="fas fa-times">
      </i>
    </button>
  </div>
</div>

<!--inbox body-->
<div *ngFor="let conversation of conversations " class="row all" (click)="toDirectMessage(conversation)" >
  <div class="frame">
    <img class="avatar" [src]="conversation.user?.profile_image_url" [title]="conversation.user?.screen_name">
  </div>
  <div>
    <div class="row" style="margin-left: 9px;">
    <b class="fullname">
      {{conversation.user?.screen_name}}
    </b>
    &nbsp;
    <b class="username">
      {{conversation?.user?.username}}
    </b>
    </div> 
    <Div class="row" style="padding-left: 10px;">
        <div class="msg" style="padding-top: 3px; padding-bottom: 0px">
          <p class="lastmsg">
            {{ conversation?.last_message?.text }} 
          </p>
        </div>
    </Div>
  </div>
  <div class="last float-right" style="float:right;">
    <div style="float:top;">
      <p style="color: #657786;">
        {{conversation?.last_message?.created_at}}
      </p>
      <img *ngIf="conversation.last_message?.media_url !== null" [src]="conversation.last_message?.media_url" style="max-height: 20px;">
    </div>
  </div>
</div>
