<!--inbox head-->
<div class="head row align-items-center">
  <div class="col-7 ">
    <h2 id="title">
      Direct Messages
    </h2>
  </div>
  <div class="activity col-5">
    <button id="mark" >
      <i class="fas fa-envelope-open-text">
      </i>
    </button>
    <button id="new" [routerLink]="['/chat/', {outlets : {body:['new']} }]">
      New Message
    </button>
    <button id="esc">
      <i class="fas fa-times">
      </i>
    </button>
  </div>
</div>

<!--inbox body-->
<div *ngFor="let conversation of conversations " class="row all" >
  <div class="frame">
    <img class="avatar" src="../../assets/test.jpg" title="hello">
  </div>
  <div>
    <div class="row" style="margin-left: 9px;">
    <b class="fullname">
      {{conversation?.user?.screen_name}}
    </b>
    &nbsp;
    <b class="username">
      {{conversation?.user?.username}}
    </b>
    </div> 
    <Div class="row" style="padding-left: 10px;">
        <div class="msg" style="padding-top: 3px; padding-bottom: 0px">
          <p class="lastmsg">  you:{{ conversation?.last_message?.text }} </p>
        </div>
    </Div>
  </div>
  <div class="last float-right" style="float:right;">
    <p style="color: #657786;">
      {{conversation?.last_message?.created_at}}
    </p>
  </div>
</div>
