/* Main Containers For The Profile Page */

.container-fluid {
	height: 100%;
	margin: 0 0;
	padding: 0 0;
	overflow-x: hidden;
}

.App-Container {
	margin: 0 6.3%;
	height: 100%;
	width: 90%;
	overflow: hidden;
}


/* Kweeks Or MiniUsers Part */

.outlet-side {
	margin-top: 12px;
	overflow: hidden;
	margin-bottom: 5% !important;
}

.nopadding {
	padding: 0 0 !important;
	margin: 0 0 !important;
	overflow: visible;
}

#header {
	height: 235px;
	position: relative;
	overflow: visible;
}

.Banner {
	width: 100%;
	background-color: #1B95E0;
	height: 100%;
	-webkit-transition: 0.5s;
	transition: 0.5s;
	-webkit-transform: scale(1, 1);
	transform: scale(1, 1);
	overflow: hidden;
}

.BannerImage {
	width: 100%;
	height: 100%;
}


/* Secondry NavBar in The Profile Page */

.Profile-NavBar {
	width: 100%;
	background-color: #fff;
	box-sizing: border-box;
	height: 60px;
	box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.25);
	overflow-y: visible;
	line-height: 1.375;
	-webkit-transition: 0.5s;
	transition: 0.5s;
	-webkit-transform: translate(0, 0);
	transform: translate(0, 0);
}


/* Taps In The Secondry NavBar */

#Taps {
	list-style-type: none;
	box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.25);
	position: relative;
	color: #657786;
	font-size: 12px;
	text-align: center;
}

.active {
	color: #1B95E0;
	border-color: #1B95E0;
	border-bottom: 2px solid;
	transition: width 0.2s;
}

li>a:hover {
	color: #1B95E0 !important;
}

a {
	float: left;
	font-weight: bold;
	font-size: 14px;
	font-family: "Segoe UI", Arial, sans-serif;
	color: #657786;
	padding: 10px;
	text-decoration: none;
}


/* Profile Picture */

.Profile-Picture {
	background-color: #1B95E0;
	border: 5px solid #fff;
	border-radius: 50%;
	height: 200px;
	width: 200px;
	position: absolute;
	Left: 8%;
	Top: 26%;
	z-index: 998 !important;
	-webkit-transition: 0.5s;
	transition: 0.5s;
	-webkit-transform: translate(0, 65px);
	transform: translate(0, 65px);
}

#ProfileImage {
	border-radius: 50%;
	height: 190px;
	width: 190px;
}

#profilePicdropdownMenuButton {
	background-color: #fff;
	border: 5px solid #fff;
	border-radius: 50%;
	height: 200px;
	width: 200px;
	position: absolute;
	left: -2%;
	Top: -2%;
	background: #000;
	opacity: 0;
	z-index: 999 !important;
}

#profilePicDropDownMenu {
	Top: 68%;
	Left: 14%;
	text-align: center;
}

#profilePicDropDownMenu p {
	text-align: center;
}

#BannerDropdownMenuButton {
	width: 100%;
	height: 130%;
	background: #000;
	position: absolute;
	left: -2%;
	Top: -2%;
	background: #000;
	opacity: 0;
}

#BannerDropDownMenu {
	Top: 105%;
	Left: 45%;
	text-align: center;
}

#BannerDropDownMenu p {
	text-align: center;
}

.Camera-Icon {
	position: absolute;
	Top: 85%;
	left: 48%;
}

.editBannerText {
	position: absolute;
	Top: 107%;
	left: 41.5%;
	color: #fff;
	font-size: 18px;
	font-weight: bold;
	line-height: 32px;
	text-align: center;
}

.editBannerText::after {
	content: "Change your header photo";
}

.editBannerText-default {
	position: absolute;
	Top: 107%;
	left: 43.5%;
	color: #fff;
	font-size: 18px;
	font-weight: bold;
	line-height: 32px;
	text-align: center;
}

.editBannerText-default::after {
	content: "Add a header photo";
}

.editProfilePicText {
	position: absolute;
	Top: 55%;
	color: #fff;
	font-size: 18px;
	font-weight: bold;
	line-height: 24px;
	text-align: center;
}

.editProfilePicText::after {
	content: "Change your profile photo";
}

.editProfilePicText-default {
	position: absolute;
	Top: 55%;
	left: 7%;
	color: #fff;
	font-size: 18px;
	font-weight: bold;
	line-height: 24px;
	text-align: center;
}

.editProfilePicText-default::after {
	content: "Add a profile photo";
}

.Image-Icon {
	position: absolute;
	Top: 30%;
	left: 38%;
}

.Default-Image-Icon {
	position: absolute;
	Top: 40%;
	left: 40%;
}


/* Edit, Follow & Following Buttons */

.edit-button {
	border-radius: 100px;
	border: 1px solid #66757f;
	box-shadow: none;
	font-size: 14px;
	font-weight: bold;
	line-height: 20px;
	padding: 6px 16px;
	;
	background-color: #fff;
	color: #66757f;
	min-width: 89px;
	position: absolute;
	right: 5%;
	Top: 18%;
}

.follow-button {
	border-radius: 100px;
	border: 1px solid #1B95E0;
	box-shadow: none;
	font-size: 14px;
	font-weight: bold;
	line-height: 20px;
	padding: 6px 16px;
	;
	background-color: #fff;
	color: #1B95E0;
	;
	width: 100px;
	position: absolute;
	right: 10%;
	Top: 18%;
}

.btn-outline-primary:hover {
	background-color: rgb(228, 240, 255);
}

.btn-outline-primary:active {
	outline: none !important;
}

.following-button {
	border-radius: 100px;
	border: 1px solid #1B95E0;
	box-shadow: none;
	font-size: 14px;
	font-weight: bold;
	padding: 6px 16px;
	background-color: #1B95E0;
	color: #fff;
	width: 100px;
	position: absolute;
	right: 10%;
	Top: 18%;
}

.following-button:hover {
	background-color: rgb(158, 4, 12);
	border-color: rgb(158, 4, 12);
}

.DIcon {
	background-color: #fff;
	border-color: #fff;
}

.DIcon:active {
	outline: none !important;
	box-shadow: none;
}

.DIcon:hover {
	background-color: #fff;
	border-color: #fff;
	outline: none !important;
	box-shadow: none;
}

.following-button:active {
	outline: none !important;
}

.following-button:hover span {
	display: none;
}

.following-button:hover::before {
	content: "Unfollow"
}

.Dots-Icon {
	position: absolute;
	right: 30%;
	Top: 0;
}


/* DropDownMenu */

#userActionDropdownMenuButton {
	position: absolute;
	right: 10%;
	Top: 105%;
	height: 30px;
	z-index: 9999 !important;
}

#userActionDropDownMenu {
	position: absolute;
	right: 10%;
	Top: 120%;
}

.dropdown-menu li:hover {
	background-color: #1B95E0 !important;
}

.dropdown-menu p:hover {
	color: #fff !important;
}

.dropdown-item {
	overflow: hidden;
}

.dropdown-item>p {
	color: #66757f;
	display: block;
	font-size: 14px;
	font-weight: normal;
	float: none;
	line-height: 16px;
	margin: 0;
	padding: 5px 5px;
	position: relative;
	min-width: 100%;
	text-align: left;
	overflow: hidden;
}

[type="file"] {
	border: 0;
	clip: rect(0, 0, 0, 0);
	height: 1px;
	overflow: hidden;
	padding: 0;
	position: absolute !important;
	white-space: nowrap;
	width: 1px;
}

[type="file"]+label {
	color: #66757f;
	cursor: pointer;
	display: inline-block;
	font-size: 14px;
	font-weight: normal;
	line-height: 16px;
	margin: 0;
	padding: 5px 5px;
	position: relative;
	min-width: 100%;
	text-align: left;
}


/* Trends Bar In The Left */

#Left-Profile-Trends {
	position: relative;
	right: 8%;
	margin-top: 12px;
	display: none;
}

.left-side {
	margin-top: 12px;
	padding: 0;
	padding-left: 3.5%;
	padding-right: 0%;
	margin-left: 0%;
	margin-right: 0%;
	overflow-x: hidden;
}


/* ProfileInfoCard In The Left */

.Header-Card {
	padding-top: 8%;
	margin-bottom: 80px;
}

.Header-Card-Editing {
	padding-top: 8%;
	margin-bottom: 80px;
	right: 5%;
}

@media (max-width: 1350px) {
	#Right-Profile-Trends {
		display: none !important;
	}
	#Left-Profile-Trends {
		display: block;
	}
}

@media (max-width: 1200px) {
	#Right-Profile-Trends {
		display: inline !important;
	}
	#Left-Profile-Trends {
		display: block !important;
	}
}

@media (max-width: 400px) {
	#Right-Profile-Trends {
		display: inline !important;
	}
	#Left-Profile-Trends {
		display: none;
	}
}


/* ///////////////////////////////////////////////////////////////////////////////// */

.Banner-Editing {
	width: 100%;
	height: 74.5%;
	-webkit-transition: 0.5s;
	transition: 0.5s;
	-webkit-transform: translate(0, 66px) scale(1, 1.8);
	transform: translate(0, 66px) scale(1, 1.8);
	background: rgb(3, 59, 94);
}

.BannerImage-Editing {
	width: 100%;
	height: 100%;
	opacity: 0.4;
}

.ProfileImage-Editing {
	border-radius: 50%;
	height: 190px;
	width: 190px;
	opacity: 0.4;
}

.Profile-NavBar-Editing {
	width: 100%;
	background-color: rgba(255, 255, 255, 0.425);
	box-sizing: border-box;
	height: 60px;
	box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.25);
	line-height: 1.375;
	-webkit-transition: 0.5s;
	transition: 0.5s;
	-webkit-transform: translate(0, 138px);
	transform: translate(0, 138px);
	pointer-events: none;
}

.Content-Editing {
	-webkit-transition: 0.5s;
	transition: 0.5s;
	-webkit-transform: translate(0, 138px);
	transform: translate(0, 138px);
	overflow: hidden;
}

.Content {
	overflow: hidden;
	-webkit-transition: 0.5s;
	transition: 0.5s;
	-webkit-transform: translate(0, 60px);
	transform: translate(0, 60px);
}

.Profile-Picture-Editing {
	background: rgb(3, 59, 94);
	border: 5px solid #fff;
	border-radius: 50%;
	height: 200px;
	width: 200px;
	position: absolute;
	Left: 8%;
	Top: 26%;
	z-index: 998 !important;
	text-align: center;
	-webkit-transition: 0.5s;
	transition: 0.5s;
	-webkit-transform: translate(0, 138px);
	transform: translate(0, 138px);
	cursor: pointer;
}

.outlet-side-Editing {
	margin-bottom: 5% !important;
	margin-top: 12px;
	overflow: hidden;
	pointer-events: none;
	opacity: 0.3;
}

.cancel-button {
	background-color: #fff;
	border: 1px solid #66757f;
	color: #66757f;
	border-radius: 100px;
	box-shadow: none;
	font-size: 14px;
	font-weight: bold;
	line-height: 20px;
	padding: 6px 16px;
	position: absolute;
	right: 14%;
	Top: 18%;
	pointer-events: visible;
}

.saveChanges-button {
	border-radius: 100px;
	border: 1px solid #1B95E0;
	box-shadow: none;
	font-size: 14px;
	font-weight: bold;
	line-height: 20px;
	padding: 6px 16px;
	;
	background-color: #fff;
	color: #1B95E0;
	position: absolute;
	right: 0%;
	Top: 18%;
	pointer-events: visible;
	opacity: 10;
}

#message-sticky {
	position: absolute;
	Top: 0.3%;
	Left: 26.8%;
	width: 46.7%;
	height: 10%;
	margin: 0 auto;
	background-color: #fff;
	border-radius: 0 0 6px 6px;
	z-index: 9999999 !important;
	text-align: center;
	visibility: hidden;
	transition: 1s;
}

.Msg {
	position: relative;
	margin: 0 20px;
	padding: 20px 0;
	color: #66757f;
	font-size: 14px;
	line-height: 20px;
	word-wrap: break-word;
}

.closebtn {
	position: relative;
	right: 2%;
	Top: 12%;
	font-weight: bold;
	float: right;
	font-size: 15px;
	cursor: pointer;
	color: #66757f;
}


/* When moving the mouse over the close button */

.closebtn:hover {
	color: black;
}

.MuteIcon {
	position: absolute;
	right: 23%;
	Top: 25%;
	cursor: pointer;
}

.Blocked-button {
	border-radius: 100px;
	border: 1px solid rgb(224, 27, 27);
	box-shadow: none;
	font-size: 14px;
	font-weight: bold;
	line-height: 20px;
	padding: 6px 16px;
	;
	background-color: #fff;
	color: rgb(224, 27, 27);
	width: 100px;
	position: absolute;
	right: 10%;
	Top: 18%;
}

.Blocked-button:hover {
	background-color: rgb(158, 4, 12);
	border-color: rgb(158, 4, 12);
}

.Blocked-button:hover span {
	display: none;
}

.Blocked-button:hover::before {
	content: "Unblock";
	color: #fff;
}

.BlockMsgBody {
	color: #66757f;
	font-size: 14px;
	text-align: left;
	margin-bottom: 15px;
	transform: translate(-4px, 0);
}

.BlockMsgHeader {
	font-size: 21px;
	font-weight: bold;
	margin-bottom: 8px;
	line-height: 22px;
	transform: translate(-4px, 0);
}

.semiBlocked-button {
	border-radius: 100px;
	border: 1px solid #66757f;
	box-shadow: none;
	font-size: 14px;
	font-weight: bold;
	line-height: 20px;
	padding: 6px 16px;
	;
	background-color: #fff;
	color: #66757f;
	min-width: 89px;
}

.BlockMsg {
	margin-top: 20px;
}