<div class="test container">
<!-- header div -->
<div class="head row align-items-center">
  <div class="title col-7 ">
    <h2 id="title">
      Direct Messages
    </h2>
  </div>
  <div class="activity col-5">
    <button id="mark">
      <i class="fas fa-envelope-open-text">
      </i>
    </button>
    <button id="new">
      New Message
    </button>
    <button id="esc">
      <i class="fas fa-times">
      </i>
    </button>
  </div>
</div>

<router-outlet name="body"></router-outlet>

</div>

