.temp-nav-bar
{
    background: #fff;
    height: 46px;
}

.container-fluid
{
    height: auto;
    margin: 0 0;
    padding: 0 0;
}

.body-background
{
    background-color: #1B95E0;
    height: 580px;
}

.body-content
{
    max-width: 865px;
    margin: 0 auto;
    text-shadow: 0 1px 1px rgba(0,0,0,.2);
    font: 14px/18px sans-serif;
    color: #fff;
}

.Sorry-Msg
{
    /* margin: 30px 0 0; */
    padding: 200px 0 0;
    font-size: 40px;
    font-weight: 200;
    line-height: 1;
    text-shadow: 0 1px 2px rgba(0,0,0,.2);
    position: relative;
    z-index: 10;
    text-align: center;
    text-rendering: optimizeLegibility;
 
}

p
{
    margin: 10px 0 20px;
    font-size: 18px;
    font-weight: 300;
    line-height: 25px;
    color: #e0eff6;
    position: relative;
    z-index: 10;
    text-align: center;
    text-rendering: optimizeLegibility;
}

p a 
{
    font-weight: bold;
    color: #fff;
}

.search
{
    margin-bottom: 20px;
    text-align: center;
}

#search-bar
{
    width: 410px;
    box-shadow: inset 0 2px 4px rgba(0,0,0,.1), 0 1px 0 rgba(255,255,255,.25);
    padding: 9px;
    font-size: 18px;
    vertical-align: middle;
    border-color: #949697;
    margin: 0;
    outline: 0;
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 4px;
    margin-right: 5px;
}

.search-btn
{
    padding: 10px 14px;
    line-height: 20px;
    font-size: 18px;
    vertical-align: middle;
    border-color: #949697;
    position: relative;
    display: inline-block;
    overflow: visible;
    color: #000;
    text-shadow: 0 1px 0 rgba(255,255,255,.5);
    border: 1px solid #ccc;
    cursor: pointer;
    border-radius: 4px;
    box-shadow: 0 1px 0 rgba(255,255,255,.25);
    background-image: linear-gradient(#fff,#ddd);
}

.logo
{
    float: left;
    margin: 14px 0 0 110px;
    width: 23px;
    height: 19px;
    cursor: pointer;
}