<div class="container-fluid">
  <div class="temp-nav-bar"> 
     <a>
    <img
      class ="logo"
      src = "../../../assets/main/minilogo.png"
      alt="Logo"
      id="ProfileImage"/>
    </a>
  </div>
  <div class="body-background"> 
    <div class="body-content">
        <h1 class = "Sorry-Msg">Sorry, that page doesn’t exist!</h1>
        <p>You can 
          <a href="">search Twitter</a> 
          using the search box below or 
          <a href="">return to the homepage</a>.
        </p>
        <form class="search" action="" method="get">
          <input id="search-bar" name="q" type="text" aria-label="Search query" placeholder="Search for a topic, full name, or @username">
          <input class="search-btn" id="search_submit" type="submit" value="Search">
        </form>

    </div>
    
  </div>
</div>