#title{
    color: #14171a;
    font-size: 18px;
    font-weight: bold;
   
}
.title
{
    margin-left: auto;
    margin-right: auto;
}
.activity{
    padding-right: 0px;
}

.esc
   {
       background-color: transparent;
       font-size: 18px;
       display: inline-block;
       vertical-align: baseline;
       color: #657786;
       border:0;
       margin-left: 15px;
   }

   #back
   {
       margin-left: 0px;
   }
   
   .esc:hover
   {
       color:#1B95E0;
   }

   .head
{
    background-color: white;
    padding:15px 10px;
    border-bottom: 1px solid #e6ecf0;
    margin-left: 0px;
    margin-right: 0px;
}
.list{
    background-color: white;
    height: 500px;
    margin-left:0px;
    margin-right: 0px;
}

.list2{
    height: 518px;
}

.list3 {
   height: 418px;
}

.send
{
    color: #14171a;
    display: block;
    font-weight: bold;
    padding: 5px 15px;
    font-family: "Segoe UI",Arial,sans-serif;
    font-size: 14px;
    line-height: 20px;
}

.search
{
    box-sizing: border-box;
    height: 24px;
    outline: 0;
    margin: 2px 0;
    padding: 2px;
    resize: none;
    vertical-align: top;
}

input
{
    border-color: rgba(0,132,180,0.5);
    border-radius: 10px !important;
    font-size: 14px;
    margin:5px;
}
input:focus {
    outline: none !important;
    box-shadow: 0px !important;
}
.form-control:focus
{
    box-shadow: 0 0 0 0 rgba(255, 255, 255, 0.25);;
}
.input2
{
    border-left: none !important;
    border-top-left-radius: 0px !important;
    border-bottom-left-radius: 0px !important;
    margin-left:0px;
}
.tags
{
    border:1px solid rgba(0,132,180,0.5);
    border-right: none;
    height: 30.5px;
    margin-top:5px;
}

.person
{
    display: flex;
    cursor: pointer;
}
.person:hover {
    background-color: #e6ecf0;
}
.username
{
    line-height: 40px;
    color: #14171a;
    font-size: 14px;
    font-weight: bold;
    font-family: "Segoe UI",Arial,sans-serif;
    margin-left:3px;
}
.screenName 
{
    line-height: 40px;
    margin-left:3px;
    font-size: 14px;
    color: #657786;
}

img 
{
    margin-left:10px;
    border-radius: 100%;
    max-height: 40px;
}

.next
{
    height: 70px;
    background-color: #f5f8fa;
}
#new{
    background-color:#1da1f2;
    border-color:transparent;
    font-size: 12px;
    color:#fff;
    line-height:16px;
    margin: 20px;
    border-radius: 100px;
    white-space: nowrap;
    padding: 4px 12px;
    font-weight: bold;
    overflow: visible;
    text-align: center;
    display: inline-block;
    float: right;
}

#new:focus{
    outline: none;
    box-shadow: 0 0 0 2px #FFFFFF, 0 0 0 4px rgba(27,149,224,0.4);
}

.dis
{
    cursor:not-allowed;
}

.example-chip-list {
    width: 90%;
    margin-left:20px;
  }

  .mat-chip.mat-standard-chip
  {
      background-color: #1da1f2;
      color:white;
  }