<div class="row nopadding" infiniteScroll (scrolled)="onScroll()">
   <!-- The main Part For each Card , For Loop to show all of them -->
   <div class="container" *ngFor='let user of miniCardProfileUsers; let i = index'>
      <!-- Profile Card is divided into two main Rows [Banner, Info] -->
      <div class="profile-card">
         <!--  The Upper Part for the banner -->
         <div class="row banner">
            <img class='BannerImage' src={{user?.profile_banner_url}}{{DummyString}}  id="BannerImage" />
         </div>
         <!--  The Lower Part for the Profile Info [UserAction, ProfilePicture, ProfileData] -->
         <div class=" row profile-content">
            <div class="content">
               <!-- User Action Part Includes [DropDownMenu, Follow & Following Button] -->
               <div class="user-action" *ngIf="!isAuthorisedUser(i)">
                  <span class="MuteIcon" style="font-size: 4ex; color:#939c99;"
                     *ngIf="(muteModes[i] || user?.muted) && !user?.blocked">
                     <i class="fas fa-volume-mute fa-sm" [style.opacity]="(user?.muted)? '1' : '0.5'"
                        [style.color]="(user?.muted)? '#9e0909e3' : '#939c99'" (click)='toggleMute(i)'> </i>
                  </span>
                  <button type="button" class="btn btn-outline-primary Follow" *ngIf="!user.following && !user?.blocked && !isAuthorisedUser(i)"
                     (click)='toggleFollow(i)'> Follow </button>
                  <button class="btn btn-primary Following" *ngIf="user.following && !user?.blocked && !isAuthorisedUser(i)"
                     (click)='toggleFollow(i)'> <span>Following </span> </button>
                  <button type="button" class="btn btn-primary Blocked-button" *ngIf="user?.blocked && !isAuthorisedUser(i)"
                     (click)='toggleBlock(i)'>
                     <span> Blocked </span>
                  </button>
                  <button class="btn" id="dropdownMenuButton" data-toggle="dropdown">
                     <!-- 3 Dots Icon => Font-Awesome -->
                     <span class="Dots-Icon" id="dots" style="font-size: 3ex; color:#657786;">
                        <i class="fas fa-ellipsis-v"></i>
                     </span>
                  </button>
                  <!-- The user Setting in The DropDownMenu [Tweet , Mute, Block] -->
                  <div class="dropdown-menu" id="userActionDropDownMenu" aria-labelledby="dropdownMenuButton">
                     <li class="dropdown-item" *ngIf="!user?.blocked">
                        <P> Tweet To @{{user.username}}</P>
                     </li>
                     <li class="dropdown-item">
                        <P> Send a Direct Message</P>
                     </li>
                     <li class="dropdown-item" *ngIf="!user?.blocked">
                        <P *ngIf="!user?.muted" (click)='toggleMute(i)'> Mute @{{user.username}} </P>
                        <P *ngIf="user?.muted" (click)='toggleMute(i)'> Unmute @{{user.username}} </P>
                     </li>
                     <li class="dropdown-item">
                        <P *ngIf="!user?.blocked" (click)='toggleBlock(i)'> Block @{{user.username}} </P>
                        <P *ngIf=" user?.blocked" (click)='toggleBlock(i)'> Unblock @{{user.username}} </P>
                     </li>
                  </div>
               </div>
               <!-- Profile Picture Part -->
               <div class="profile-pic">
                  <img class="ProfileImage" src={{user?.profile_image_url}}{{DummyString}} id="ProfileImage" />
               </div>
               <!-- Profile Info Part [Username, Screen Name, Bio] -->
               <div class="profile-data">
                  <div class="username"> <a id="usernameref" href="./profile/{{user.username}}"> {{user.screen_name}} </a>  </div>
                  <div class="screen-name">  <a id="usernameref" href="./profile/{{user.username}}"> @{{user.username}} </a> </div>
                  <p class="FollowsYou" *ngIf="user.follows_you && !isAuthorisedUser(i)"> Follows You </p>
                  <p class="bio"> {{user.bio}} </p>
               </div>
            </div>
         </div>
      </div>
   </div>
</div>
<div class="Padding">
   <img class="Logo" src="../../../assets/main/8800.png" alt="Profile Picture" id="ProfileImage" />
</div>