.container {
	height: 281px;
	width: 290px;
	background-color: #FFF;
	padding: 0 0;
	margin-left: 0;
	margin-right: 12px;
	margin-bottom: 12px;
	margin-top: 0;
}


/* As Bootstrap Rows and Colums generate default margins and Paddings */

.nopadding {
	padding: 0 0 !important;
	margin-left: 0.2% !important;
	height: auto;
}


/* First Part [Banner] */

.banner {
	background-color: #1B95E0;
	height: 90px;
	width: 290px;
	margin: 0 0;
}

.BannerImage {
	height: 90px;
	width: 290px;
}


/* Second Part [UserActon, ProfilePicture, ProfileInfo] */

.profile-content {
	height: 191px;
	width: 288px;
	text-align: center;
	vertical-align: middle;
	display: table-cell;
	padding: 0 0;
}

.content {
	height: 170px;
	width: 255px;
	background-color: white;
	display: inline-block;
	position: relative;
}

.user-action {
	height: 37px;
	width: 127px;
	position: relative;
	left: 130px;
	top: 10px;
	text-align: left;
	display: flex;
	align-items: center
}


/* Follow and Following Buttons */

.Follow {
	border-radius: 100px;
	border: 1px solid #1B95E0;
	box-shadow: none;
	font-size: 12px;
	line-height: 16px;
	font-weight: bold;
	padding: 4px 12px;
	background-color: #fff;
	color: #1B95E0;
	min-width: 89px;
	position: absolute;
}

.btn-outline-primary:hover {
	background-color: rgb(228, 240, 255);
}

.btn-outline-primary:active {
	outline: none !important;
}

.Following {
	border-radius: 100px;
	box-shadow: none;
	font-size: 12px;
	line-height: 16px;
	font-weight: bold;
	padding: 4px 12px;
	white-space: nowrap;
	background: transparent;
	background-color: #1B95E0;
	border: 1px solid #1B95E0;
	color: #fff;
	min-width: 89px;
}

.Following:hover {
	background-color: rgb(158, 4, 12);
	border-color: rgb(158, 4, 12);
}

.Following:active {
	outline: none !important;
}

.Following:hover span {
	display: none;
}

.Following:hover::before {
	content: "Unfollow"
}

.Blocked-button {
	border-radius: 100px;
	border: 1px solid rgb(224, 27, 27);
	box-shadow: none;
	font-size: 12px;
	font-weight: bold;
	line-height: 16px;
	padding: 4px 12px;
	background-color: #fff;
	color: rgb(224, 27, 27);
	min-width: 89px;
	position: absolute;
	Top: 14%;
	Left: 1%;
}

.Blocked-button:hover {
	background-color: rgb(158, 4, 12);
	border-color: rgb(158, 4, 12);
}

.Blocked-button:hover span {
	display: none;
}

.Blocked-button:hover::before {
	content: "Unblock";
	color: #fff;
}


/* DropDownMenu Animations */

.Dots-Icon {
	position: absolute;
	Top: -2px;
	right: 5px;
}

.dropdown-menu li:hover {
	background-color: #1B95E0 !important;
}

.dropdown-menu p:hover {
	color: #fff !important;
}

#dropdownMenuButton
{
	position: absolute;
	right: 5px;
	Top: 10px;
	height: 22px;
	width: 2px;
}

.dropdown-item>p {
	color: #66757f;
	display: block;
	font-size: 14px;
	font-weight: normal;
	float: none;
	line-height: 16px;
	margin: 0;
	padding: 5px 5px;
	position: relative;
	min-width: 100%;
	text-align: left;
}


/* Profiel Picture */

.profile-pic {
	height: 69px;
	width: 69px;
	border: 2px solid #fff;
	border-radius: 50%;
	margin: -65px 2px 0 -3px;
	padding: 3px;
	position: absolute;
	background-color: #1B95E0;
	border-width: 1px;
	left: 0;
}

.ProfileImage {
	position: absolute;
	Left: -2%;
	Top: -1%;
	height: 71px;
	width: 71px;
	border: 2px solid #fff;
	border-radius: 50%;
}

.profile-data {
	height: 126px;
	width: 259px;
	background-color: #FFF;
	margin-top: 10px;
}

.username {
	color: #14171a;
	text-align: left;
	font-size: 18px;
	font-weight: bold;
	padding-right: 2px;
}

#usernameref
{
	color: #14171a !important;
}

.screen-name {
	color: #66757f;
	font-size: 14px;
	font-weight: normal;
	line-height: 1;
	text-align: left;
	font-family: "Segoe UI", Arial, sans-serif;
}

.FollowsYou {
	position: absolute;
	Top: 41%;
	right: 4%;
	background-color: #e6ecf0;
	border-radius: 4px;
	color: #657786;
	font-size: 12px;
	font-weight: normal;
	margin-left: 2px;
	padding: 2px 4px;
	max-width: 74px;
}

.bio {
	direction: ltr!important;
	text-align: left!important;
	color: #14171a;
	font-weight: normal;
	word-wrap: break-word;
	overflow: hidden;
	font-size: 14px;
	line-height: 1.375em;
	margin-top: 12px;
}

.MuteIcon {
	position: absolute;
	left: -30%;
	Top: 8%;
	cursor: pointer;
}

.Padding
{
	height: 400px;
}

.Logo
{
	width: 40px;
	height: 40px;
	position: relative;
	left: 42%;
	margin-top: 20px;
	margin-bottom: 20px;
}