<!-- multistep form -->
<form id="msform" #submitForm ="ngForm" name="submit-form" ngmodel>
    <!-- progressbar -->
    <ul id="progressbar">
      <li class="active">Account Setup</li>
      <li class="secondProgress">Social Profiles</li>
      <li class="thirdProgress">Personal Details</li>
    </ul>

    <!-- fieldsets -->
    <fieldset class="fs1">
     <!-- Icon -->
      <div>
        <img src="../../assets/main/twitter.png" id="icon" alt="User Icon" />
      </div>
      <h2 class="fs-title">Create your account</h2>
      <h3 class="fs-subtitle">This is step 1</h3>
      
      <input type="text" name="email" placeholder="Email" #email="ngModel" [(ngModel)]="mail" required/>
      <input type="password" name="pass" placeholder="Password" #password="ngModel" [(ngModel)]="pass" required/>
      <input type="password" name="cpass" placeholder="Confirm Password" #confirm_password="ngModel" [(ngModel)]="confirm_pass" required />
      <button type="submit" name="next1" class="btn btn-primary action-button" #Next1 (click)="secondStep()"  [disabled]="email.invalid || password.invalid ||confirm_password.invalid">Next</button>
    </fieldset>

    <fieldset class="fs2">
      <h2 class="fs-title">Social Profiles</h2>
      <h3 class="fs-subtitle">Your presence on the social network</h3>
      <input type="text" name="twitter" placeholder="Twitter" />
      <input type="text" name="facebook" placeholder="Facebook" />
      <input type="text" name="gplus" placeholder="Google Plus" />
      <button type="submit" name="previous1" class="btn btn-primary action-button"  (click)="previousOne()" >Previous</button>
      <button type="submit" name="Next2" class="btn btn-primary action-button" (click)="thirdStep()" >Next</button>
    </fieldset>


    <fieldset class="fs3">
      <h2 class="fs-title">Personal Details</h2>
      <h3 class="fs-subtitle">You can modify them whenever you want.</h3>
      <input type="text" name="fname" placeholder="First Name" />
      <input type="text" name="lname" placeholder="Last Name" />
      <input type="text" name="phone" placeholder="Phone" />
      <textarea name="address" placeholder="Address"></textarea>
      <button type="submit" name="previous2" class="btn btn-primary action-button"  (click)="previousTwo()" >Previous</button>
    
    
      <input type="submit" name="submit" class="submit action-button" value="Submit" />
    </fieldset>
  </form>