<!-- multistep form -->
<form id="msform" #submitForm ="ngForm" name="submit-form" ngmodel>
    <!-- progressbar -->
    <ul id="progressbar">
      <li class="active">Account Setup</li>
      <li class="secondProgress">Email Verification</li>
      <li class="thirdProgress">Personal Details</li>
    </ul>

    <!-- fieldsets -->
    <fieldset class="fs1">
     <!-- Icon -->
      <div>
        <img src="../../assets/main/twitter.png" id="icon" alt="User Icon" />
      </div>
      <h2 class="fs-title">Create your account</h2>
      <h3 class="fs-subtitle">This is step 1</h3>
      <input type="text" name="username" placeholder="Username" #username="ngModel" [(ngModel)]="userName"  maxlength="100" required/>
      <input type="text" name="email" placeholder="Email" #email="ngModel" [(ngModel)]="mail" required pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,}$"/>
      <button type="submit" name="next1" class="btn btn-primary action-button" #Next1 (click)="secondStep(submitForm)"  [disabled]="email.invalid || username.invalid">Next</button>
  
    </fieldset>
    
    
    <fieldset class="fs2">
      <h2 class="fs-title">Code Confirmation</h2>
      <h3 class="fs-subtitle">We've sent you a code at your mail, please enter it here.</h3>
      <h3 class="fs-subtitle">Email entered: <strong>{{submitForm.value.email}}</strong></h3>
      <input type="text" name="code" placeholder="Code" />
      <button type="submit" name="previous1" class="btn btn-primary action-button"  (click)="previousOne()" >Previous</button>
      <button type="submit" name="Next2" class="btn btn-primary action-button" (click)="thirdStep()" >Next</button>
    </fieldset>


    <fieldset class="fs3">
      <h2 class="fs-title">Personal Details</h2>
      <h3 class="fs-subtitle">You can modify them whenever you want.</h3>
      <input type="text" name="fname" placeholder="First Name" />
      <input type="text" name="lname" placeholder="Last Name" />
      <input type="text" name="phone" placeholder="Phone" />
      <textarea name="address" placeholder="Address"></textarea>
      <button type="submit" name="previous2" class="btn btn-primary action-button"  (click)="previousTwo()" >Previous</button>
    
    
      <input type="submit" name="submit" class="submit action-button" value="Submit" />
    </fieldset>
  </form>