#popUpEnd {
    height: 61px;
    width: 100%;
    background-color: #e6ecf0;
    text-align: center;
    position: relative;
}

#twitter {
    font-size: 21px;
    line-height: 1;
    color: #ccd6dd;
    margin: 0;
    position: absolute;
    top: 50%;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
}

.mat-dialog-content {
    padding: 0;
    border-radius: 20px;
    background-color: #412521;
}
