#popUpEnd {
  height: 61px;
  width: 100%;
  background-color: #e6ecf0;
  text-align: center;
  position: relative;
}

#twitter {
  font-size: 21px;
  line-height: 1;
  color: #ccd6dd;
  margin: 0;
  position: absolute;
  top: 50%;
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}

.icon-pointer {
  cursor: pointer;
}

.cdk-global-overlay-wrapper {
  pointer-events: auto;
  display: block;
  position: relative;
  overflow: auto;
  text-align: center;
}

.cdk-global-overlay-wrapper::before {
  content: "";
  display: inline-block;
  height: 100%;
  white-space: nowrap;
}

.cdk-overlay-pane {
  display: inline-block;
  position: relative;
  text-align: left;
  white-space: normal;
  margin-top: 50px;
}

.mat-dialog-container {
  padding: 0;
  border-radius: 8px;
  border: 1px solid #e6ecf0;
}

.popup-kweek-style {
    padding: 9px 40px;
}

#last-clicked-kweek {
    padding: 30px 40px;
    font-size: 20px;
    line-height: 20px;
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
}

#last-clicked-kweek #user-name {
    font-size: 14px;
}

#last-clicked-kweek #name-block {
    margin-bottom: 15px;
    display: inline-block;
}

#last-clicked-kweek #replying-to {
    padding-bottom: 8px;
    padding-top: 4px;
}

#last-clicked-kweek #date {
    margin-top: 10px;
}

#last-clicked-kweek .counter {
    font-size: 14px;
    font-weight: bold;
}

/* .vertical-line {
    border-width: 2px;
    border-top-left-radius: 2px;
    border-color: #1da1f2;
    border-style: solid;
} */
