.searchBar{
  margin-right: 5px;
  margin-left: 10px;
}

.kweek-btn{
  background-color: #1da1f2;
  border: 1px solid #1da1f2;
  color: rgb(255, 255, 255);
  font-size: 15px;
  line-height: 20px;
  padding: 6px 16px;
  cursor: pointer;
  font-weight: bold;
  white-space: nowrap;
  text-transform: none;
  text-indent: 0px;
  text-shadow: none;
  font-family: "Segoe UI", Arial, sans-serif;
  border-radius: 50px;
  margin-right: 10px;
  margin-left: 10px;

}

.kweek-btn:hover{
  background-color: #2091f9;
  border: 1px solid #2091f9;
}

.kweek-btn:active, 
.kweek-btn:focus 
{
  outline: none;   
} 

.mynav{
  background-color: white;
  margin: 0% !important;
  z-index: 999;
 
} 

#icon{
  width:35px;
  height:35px;
  border:0;
  margin-top: -8px;
}
.navbarMsg{
  cursor: pointer;
}
/* Popup container */
.popup {
  position: relative;
  display: inline-block;
  cursor: pointer;
}
/* The actual popup (appears on top) */
.popup .popuptext {
  visibility: hidden;
  width: 160px;
  background-color: #555;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 8px 0;
  position: absolute;
  z-index: 1;
  bottom: 125%;
  left: 50%;
  margin-left: -80px;
}

/* Popup arrow */
.popup .popuptext::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: #555 transparent transparent transparent;
}

/* Add animation (fade in the popup) */
@-webkit-keyframes fadeIn {
  from {opacity: 0;} 
  to {opacity: 1;}
}

@keyframes fadeIn {
  from {opacity: 0;}
  to {opacity:1 ;}
}