#icon {
  width:25px;
  float:center ;
  
  size: 10px;
  margin: 10px;
}
.searchForm{
  float: center;
}

.kweek-btn{
  background-color: #1da1f2;
  border: 1px solid #1da1f2;
  color: #fff;
  font-size: 15px;
  line-height: 20px;
  padding: 6px 16px;
  cursor: pointer;
  font-weight: bold;
  white-space: nowrap;
  text-transform: none;
  text-indent: 0px;
  text-shadow: none;
  font-family: "Segoe UI", Arial, sans-serif;
  border-radius: 25px;
  margin-right: 10px;
  margin-left: 10px;

}

.kweek-btn:hover{
  background-color: #2091f9;
  border: 1px solid #2091f9;
}

.kweek-btn:active, 
.kweek-btn:focus 
{
  outline: none;   
} 


.navbar {
  font-size: 15px;
  font-weight: 500;
  background-color: white;
  border: 1px solid rgba(103, 117, 121, 0.2);
  padding-bottom: 5px;
  padding-top: 5px;
  width: 100%;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
 z-index: 999 ;
 /* height: 65px; */
}

.main-nav {
  list-style-type: none;
  display: none;
}

.nav-link{
  text-decoration: none;
  color: rgb(8, 8, 8);
  opacity: 0.5;
 
  font-size: 15px;
 
}
.nav-link:after {
  display: block;
  left: 0;
  bottom: -10px;
  width: 0;
  height: 3px;
  margin-top: 8px;
  background-color: #000000;
  content: "";
  transition: width 0.2s;
}

.nav-link:hover {
opacity: 1;
  color: #000000;      
}

.nav-link:hover:after{
  width: 100%;
}
                  
.main-nav{
  text-align: center;
  /* margin: 15px auto;
   */
}


.navbar-toggle {
  position: absolute;
  top: 10px;
  right: 20px;
  cursor: pointer;
  color: rgba(0, 0, 0, 0.8);
  font-size: 24px;
}

.active {
  display: block;
}


.nav-item{
  margin-right: 10px;
  margin-left: 10px;
  margin-bottom: 2px;
  margin-top: 10px;
}