.searchBar{
  margin-right: 5px;
  margin-left: 10px;
}

.kweek-btn{
  background-color: #1da1f2;
  border: 1px solid #1da1f2;
  color: rgb(255, 255, 255);
  font-size: 15px;
  line-height: 20px;
  padding: 6px 16px;
  cursor: pointer;
  font-weight: bold;
  white-space: nowrap;
  text-transform: none;
  text-indent: 0px;
  text-shadow: none;
  font-family: "Segoe UI", Arial, sans-serif;
  border-radius: 50px;
  margin-right: 10px;
  margin-left: 10px;

}

.kweek-btn:hover{
  background-color: #2091f9;
  border: 1px solid #2091f9;
}

.kweek-btn:active, 
.kweek-btn:focus 
{
  outline: none;   
} 

.mynav{
  background-color: white;
  margin: 0%;
  z-index: 999;
}


#icon{
  width:35px;
  height:35px;
  border:0;
  margin-top: -8px;
}
.navbarMsg{
  cursor: pointer;
}