.Trends-Container
{
    width: 310px;
    height: 465px;
    background-color: white;
    text-align: center

}

/* Trends For You. */
#Trends-header
{
    line-height: 20px;
    margin-bottom: 10px;
    text-align: left;
    font-family: "Segoe UI",Arial,sans-serif;
    font-size: 20px;
    font-weight: bold;
}

#Trends-Text
{
    width: 258px;
    height: 433px;
    display: inline-block;
    position: relative;
    Top: 17px;
}

/* 10 Items in Trend Bar */
#Trends-Item
{
    line-height: 5px;
    margin-bottom: 10px;
    margin-top: 23px;
    text-align: left;
    list-style: none;
    position: relative;
    right: 38px;
    font-family: "Segoe UI",Arial,sans-serif;
}

/* Hashtag Part */
#Trends-Item> h1
{
    font-size: 18px;
    text-align: inherit;
    line-height: inherit;
    color: #1B95E0;
    font-weight: bold;

}

/* Number Of Kweeks Part */
#Trends-Item>p
{
    font-size: 15px;
    text-align: inherit;
    line-height: inherit;
    margin-top: 13px;
    color:#657786;
}