<!-- Card Container: To control card dimension regardless its page -->
<div class="Trends-Container">
   <div id="Trends-Text">
      <!-- Card Header -->
      <div id="Trends-header">
         Trends for you .
      </div>
      <!-- Card Body -->
      <div id="Trends-body" >
         <!-- Trend Body => Text(Hashtag) & Number of Kweeks -->
         <ul id="Trends-Items">
            <li id="Trends-Item" *ngFor="let trend of trends" (click)="searchForTrend(trend.text)">
               <h1 style="cursor:pointer;"> {{trend?.text}} </h1>
               <p> {{trend?.number_of_kweeks}} Kweeks </p>
            </li>
         </ul>
      </div>
   </div>
</div>