<div class="wrapper fadeInDown">
  <div id="formContent">
    <!-- Icon -->
    <div class="fadeIn first">
      <img src="../../assets/main/twitter.png" id="icon" alt="User Icon" />
    </div>

    <!-- login text-->
    <div>
      <h4>Sign in to Kwikker</h4>
    </div>
    
    <!-- Login Form -->
    <form  #loginForm = "ngForm" (submit)="submitForm(loginForm)" name="login-form" ngmodel>
      <!-- UserName -->  
      <div>
          <input #email = "ngModel" [(ngModel)]="mail" type="text" id="login" class="fadeIn second "  name="username" maxlength="50" placeholder="Username" required>
          <div  *ngIf="email.invalid && email.touched" class="msg alert alert-danger " role="alert">
            <p class="alertMsg">Username is required to log in.</p>
          </div>
      </div>
    <!-- Password -->
      <input #password="ngModel" [(ngModel)]="pass" type="password" id="password" class="fadeIn third " name="password" placeholder="Password"  required>
      <div  *ngIf="password.invalid && password.touched" class="msg alert alert-danger " role="alert">
          <p class="alertMsg">Password is required to log in.</p>
      </div>
      <div class="progress hide">
        <div  class="msg alert alert-danger " style="width:90%;" role="alert">
            <p class="alertMsg">Incorrect Username or Password, please Log in again.</p>
        </div>
      </div>
     <!-- Submission Button -->
      <button class="btn btn-primary fadeIn fourth"  type="submit" [disabled]="email.invalid || password.invalid ">Log in</button>
    </form>
    
    <!-- Remind Passowrd and Sign Up -->
    <div id="formFooter">
      <a  class="underlineHover" href="forget_password">Forgot Password?</a>
      <a style="float:right;" class="underlineHover" href="signup">Sign Up</a>
    </div>

  </div>
</div>