<div class = "card-container">

  <h1 class = "Profile-Name"> Ahmed Mahmoud </h1>
  <h1 class = "Profile-ScreenName"> @Ahmed_Mahmoud14 </h1>
  <p class = "Profile-Bio"> Official Origin Twitter account. For technical support, please follow @EAHelp or visit http://help.ea.com .</p>

  <div class = "Profile-Joindate">
    <span style="font-size: 2ex; color:#657786;">
        <i class="fas fa-calendar-alt"></i>
    </span>
    <span class="Date-Text">
        Joined June 2022
    </span>
  </div>

  <div class = "Profile-Birthdate">
      <span style="font-size: 2ex; color:#657786;">
          <i class="fas fa-birthday-cake"></i>
      </span>
      <span class="Date-Text">
          Born June 29, 2022
      </span>
  </div>

  <button class="Tweet-Button"> Tweet To Ahmed </button>
  
</div>
