<div class = "card-container" *ngIf="profileHeaderInfo">

  <h1 class = "Profile-Name"> {{profileHeaderInfo?.userName}} </h1>
  <h1 class = "Profile-ScreenName">  @{{profileHeaderInfo?.screenName}} </h1>
  <p class = "Profile-Bio"> {{profileHeaderInfo?.Bio}} </p>

  <div class = "Profile-Joindate">
    <span style="font-size: 2ex; color:#657786;">
        <i class="fas fa-calendar-alt"></i>
    </span>
    <span class="Date-Text">
        Joined {{profileHeaderInfo?.joinedDate | date: 'dd/MM/yyyy'}}
    </span>
  </div>

  <div class = "Profile-Birthdate">
      <span style="font-size: 2ex; color:#657786;">
          <i class="fas fa-birthday-cake"></i>
      </span>
      <span class="Date-Text">
       Born {{profileHeaderInfo?.birthDate | date: 'dd/MM/yyyy'}} 
      </span>
  </div>

  <button class="Tweet-Button"> Tweet To {{profileHeaderInfo.userName}} </button>
  
</div>
