<!-- Card Container: To control card dimension regardless the page -->
<div class="card-container" *ngIf="profileHeaderInfo">
   <!-- All Card Info -->
   <h1 class="Profile-Name"> <a id="usernameref" href="./profile/{{profileHeaderInfo?.username}}"> {{profileHeaderInfo?.screen_name}} </a> </h1>
   <h1 class="Profile-ScreenName"> <a id="usernameref" href="./profile/{{profileHeaderInfo?.username}}"> @{{profileHeaderInfo?.username}} </a> </h1>
   <p class="Profile-Bio" *ngIf='(!profileHeaderInfo?.blocked || (profileHeaderInfo?.blocked && semiBlockedMode)) && !AuthorisedIsBlocked'>
      {{profileHeaderInfo?.bio}} </p>
   <div class="Profile-Joindate" *ngIf='(!profileHeaderInfo?.blocked || (profileHeaderInfo?.blocked && semiBlockedMode)) && !AuthorisedIsBlocked'>
      <!-- JoinDate Icon => Font-Awesome -->
      <span style="font-size: 2ex; color:#657786;">
         <i class="fas fa-calendar-alt"></i>
      </span>
      <span class="Date-Text">
         Joined {{profileHeaderInfo?.created_at | date: 'MMMM y'}}
      </span>
   </div>
   <div class="Profile-Birthdate"
      *ngIf='(!profileHeaderInfo?.blocked || (profileHeaderInfo?.blocked && semiBlockedMode)) && !AuthorisedIsBlocked'>
      <!-- BirthDate Icon => Font-Awesome -->
      <span style="font-size: 2ex; color:#657786;">
         <i class="fas fa-birthday-cake"></i>
      </span>
      <span class="Date-Text">
         Born {{profileHeaderInfo?.birth_date | date: 'MMMM d, y'}}
      </span>
   </div>
   <div class="Buttons">
      <!-- Button Used To make a KweeeK To The Profile User , **Hidden if Same user -->
      <button type="button" class="btn btn-primary Kweek-Button"
         *ngIf="(!isAuthorisedUser && (!profileHeaderInfo?.blocked || (profileHeaderInfo?.blocked && semiBlockedMode))) && !AuthorisedIsBlocked"
         (click)='openKweekDialog()'> Tweet To </button>
      <button type="button" class="btn btn-primary Msg-Button"
         *ngIf="(!isAuthorisedUser && (!profileHeaderInfo?.blocked || (profileHeaderInfo?.blocked && semiBlockedMode))) && !AuthorisedIsBlocked"
         (click)='openInboxDialog()'> Message </button>
   </div>
</div>