@import '~bootstrap/dist/css/bootstrap.min.css';
@import 'https://fonts.googleapis.com/icon?family=Material+Icons';

  .kweekBox .mat-dialog-container{
    top: 5%;
    width: 610px;
    margin: 0 0 30px 0;
    position: relative;
    z-index: 6000;
    display: block;
    padding: 0;
}


body{
    margin:0;
    background-color: #e6ecf0;
}

.custom-dialog-container .mat-dialog-container {
  padding: 0px;
}
