@import '~bootstrap/dist/css/bootstrap.min.css';

body{
    margin:0;
    background-color: #e6ecf0;
}

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
