<app-nav-bar> </app-nav-bar>

<!--search and filter bars-->
<div id="filter-by">
    <h1 id="first" [ngClass]="{'arabic' : !ltr}">
     {{search}}
    </h1>
</div>
<div id="filters">
  <ul id="second">
    <li>
      <a routerLinkActive="active" [routerLink]="['kweeks']" [queryParams]= "{ filterBy:search } ">
        latest
        </a>
    </li>
    <li>
      <a routerLinkActive="active" [routerLink]="['people']" [queryParams]= "{ filterBy:search }">
        people
        </a>
    </li>
  </ul>
</div>


<div class="container">
  <div class="row">
    <div class="col-lg-3">
      
    </div>
    <div class="col-lg-8">
      <router-outlet >

    </router-outlet>
   </div>
  </div>  
</div>
