#filter-by {
    margin-top:60px;
    background-color: #1DA1F2 !important;
    height: 32px;
    padding:16px;
    font-family:"Segoe UI",Arial,sans-serif;
    overflow: hidden;
    height: auto;
}
#first {
    color:white;
    padding-left: 200px;
    font-size:27px;
    margin:0px;
    font-weight: bold;
    
}
.arabic {
    direction: rtl;
    padding-right: 200px;
    float: right;
}

#second {
    list-style-type: none;
    margin:0px;
    box-shadow:0 1px 3px 0 rgba(0,0,0,0.25);
    padding-left: 200px;
}
a{
    float: left;
    font-weight: bold;
    font-size:14px;
    font-family: "Segoe UI",Arial,sans-serif;
    color:#657786;
    padding:13px;
    text-decoration: none;
}

.active
{
    color:#1B95E0 !important;
    border-color: #1B95E0;
    border-bottom: 2px solid;
}

li>a:hover
{
    color:#1B95E0 !important;
}

#filters
{
    background-color: white;
    overflow: hidden;
    box-shadow: 0 1px 3px 0 rgba(0,0,0,0.25);
}

@media only screen and (max-width: 600px) {
    h1 {
      padding-left: 12px;
      padding-right: 12px;
    }
  }