#notificationHeader{
    background-color: #ffffff;
    border-color: #e6ecf0;    
}

#notification_navbar{
    background-color: #ffffff;
    padding-top: 2%;
    padding-bottom:2% 
}



.btn-outline-primary {
    color: #00acee;
    border-color: #00acee;
}

