<app-nav-bar> </app-nav-bar>
<div class="container-fluid" style="margin-top:5%">
    <div class="row" >
      <div class="col-md-3 nopadding"></div>
      <div class="col-md-6 nopadding">
        <div class="row Profile-NavBar" style="margin:0">
          <div class="col-md-12 nopadding" >
            <ul id="Taps"  >
                <li> <a routerLinkActive="active" 
                        [routerLink]="['all']" >All</a>  </li>
                <li> <a routerLinkActive="active" 
                        [routerLink]="['mentions']">Mentions</a>  </li> 
            </ul>
            
            </div>
      </div>         
           
              <router-outlet ></router-outlet> 
            
      </div>
      <div class="col-md-3 ">
          <app-trends></app-trends>
      </div>
    </div>
  </div>