<!-- chat header-->
<div class="head row align-items-center">
  <div class="activity ">
      <button id="back"class=" esc " (click)="toInbox()">
          <i class="fas fa-arrow-left">
          </i>
      </button>
    </div>
  <div class="title">
    <div class="row">
      <div class="frame">
        <img class="avatar" [src]="'http://kwikkerbackend.eu-central-1.elasticbeanstalk.com/user/upload/picture/' + addressee?.profile_image_url" [title]="addressee?.screen_name">
      </div>
      <div>
        <p class="screenName">
          {{addressee?.screen_name}}
        </p>
        <p class="username">
          @{{addressee?.username}}
        </p>
      </div>
    </div>
  </div>
  <div class="activity ">
    <button class="esc" (click)="exit()">
      <i class="fas fa-times">
      </i>
    </button>
  </div>
</div>

<!-- main body-->
<div class="body" [ngClass]="{'body2':uploadImg}">
  <div class="msg" *ngFor="let message of messageList">
    <div class="row">
    <div class="frame" [ngClass]="{'right':message.to_user === addressee}">
      <img class="avatar" src="../../assets/kweeks/default.png">
      </div>
      <div class="msgText">
        hello wanna chat?
      </div>
      </div>
  </div>
</div>

<!-- create message-->
<form [formGroup]="myForm">
  <div class="new row " [ngClass]="{'new2':uploadImg}">
    <div class="col-10 my-auto">
      <div *ngIf="uploadImg" class="space" style="background-color:white; ">
        <div class="cont">
        <img id="uploadImg" [src]="imgURL" style="max-height:100px;">
        <button class="cancel" (click)="removeImg()">
          <i class="fas fa-times"></i>
        </button>
        </div>
      </div>
      <div class="input-group mb-3">
        <input  type="text" autocomplete="off" id="message" class="form-control" formControlName="message" [ngClass]="{'input2':uploadImg}" >
      </div>
    </div>
    <div style="float:right;" class="my-auto">
      <div style="height:0px;display: none">
        <input type="file" formControlName="file" #file (change)="uploadIamge(file.files)" id="fileInput" name="fileInput" accept="image/*" />
     </div>
      <button id="upload" *ngIf="!uploadImg" (click)="upload()">
        <i class="far fa-2x fa-image"></i>
      </button>
      <button id="send" (click)="send()" [disabled]="myForm.invalid && !uploadImg" [ngClass]="{'blocked': myForm.invalid && !uploadImg}">
        send
      </button>
    </div>
  </div>
</form>
